<h1 mat-dialog-title>Criar um Novo EXTRA</h1>

<div mat-dialog-content>
    <form [formGroup]="formCriarAlterarExtra">
    
        <mat-form-field appearance="outline">
            <mat-label>NOME</mat-label>
            <input formControlName="nome"  matInput placeholder="nome"> 
        </mat-form-field>   

        <mat-form-field appearance="outline">
            <mat-label>DESCRIÇÃO:</mat-label>
            <textarea formControlName="descricao" matInput></textarea>
        </mat-form-field>
            
        <label for=""><h3>ATIVO:</h3></label>
        <mat-radio-group formControlName="ativo" >
            <mat-radio-button value="sim">
                    Sim.
            </mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="nao">
                Não.
            </mat-radio-button>
        </mat-radio-group>
            
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" style="margin-left: 8px;" (click)="addExtra()">Guardar</button>
    <button mat-raised-button color="secondary" style="margin-left: 8px;" (click)="resetFields()">Limpar</button>
    <button mat-raised-button color="warn" style="margin-left: 8px;" mat-dialog-close>Cancelar</button>
</div>


